<% if(data.length) { %>

    <table>
        <thead>
            <th>Website</th>
            <th>Service</th>
            <th>Username</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% for(var i=0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].website %></td>
                    <td><%= data[i].service %></td>
                    <td><%= data[i].username %></td>
                    <td>
                        <a href="">Show</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
<% } %>